<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/posts/create'>New Post</a></li>
  </ul>
  <% if flash[:notice] %>
    <p class='alert alert-success'><%= flash[:notice] %>
  <% end %>
  <% if flash[:error] %>
    <p class='alert alert-error'><%= flash[:error] %>
  <% end %>
  <%= yield %>
</body>
</html>